//COLOR 
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
//
$color-tertiary-light: #6dd3fc;
$color-tertiary-dark: #4c57f3;
//
$color-primary: #7ed56f;
$color-primary-light: #52ee86f8;
$color-primary-dark: #248661;
//
$color-light-grey-1: #cecbcb;
$color-dark-grey-2: #525050;
$color-dark-grey-3: #3d3d3d;
$color-white: #fff;
$color-black: #0a0000;
// SHADOW 
$box-shadow-1: 0 1.5rem 2rem rgba($color-black, .2);
$box-shadow-2: 0 3rem 6rem rgba($color-black, .3);
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;
// FONT
$default-font-size: 1.6rem;
//  BORDER RADIUS
$border-radius-small: 3px;